{
  "openapi": "3.0.1",
  "info": {
    "title": "fixa API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.fixa.dev/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tests": {
      "post": {
        "description": "creates a new test",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "test created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["testId"],
                  "properties": {
                    "testId": {
                      "type": "string",
                      "description": "the id of the test"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tests/{testId}/status": {
      "get": {
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "description": "the id of the test",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "retrieves the status of a test",
        "responses": {
          "200": {
            "description": "test status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["completed", "in_progress", "not_found"],
                      "description": "the status of the test"
                    },
                    "calls": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Call"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TestParams": {
        "required": ["agent_id"],
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "the id of your fixa agent"
          },
          "scenario_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "array of specific scenarios to test. leave it blank to test all scenarios"
          },
          "test_agent_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "array of test agents to use. leave it blank to use all test agents"
          }
        }
      },
      "Call": {
        "type": "object",
        "required": ["id", "result", "status"],
        "properties": {
          "id": { "type": "string", "description": "the id of the call" },
          "status": {
            "type": "string",
            "enum": ["in_progress", "analyzing", "completed"],
            "description": "the status of the call"
          },
          "result": {
            "type": "string",
            "enum": ["success", "failure"],
            "description": "the result of the call"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
