{
  "openapi": "3.0.1",
  "info": {
    "title": "fixa API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fixa.dev/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tests": {
      "post": {
        "description": "creates a new test",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "test created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["testId"],
                  "properties": {
                    "testId": {
                      "type": "string",
                      "description": "the id of the test"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tests/{testId}/status": {
      "get": {
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "description": "the id of the test",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "retrieves the status of a test",
        "responses": {
          "200": {
            "description": "test status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["completed", "in_progress", "not_found"],
                      "description": "the status of the test"
                    },
                    "calls": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Call"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/upload-call": {
      "post": {
        "description": "uploads a new call recording",
        "requestBody": {
          "description": "Call recording details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["callId", "stereoRecordingUrl", "agentId"],
                "properties": {
                  "callId": {
                    "type": "string",
                    "description": "unique identifier for the call"
                  },
                  "stereoRecordingUrl": {
                    "type": "string",
                    "description": "URL where the stereo call recording is stored"
                  },
                  "agentId": {
                    "type": "string",
                    "description": "ID of the agent associated with the call"
                  },
                  "saveRecording": {
                    "type": "boolean",
                    "description": "whether to save the recording to fixa's storage. this is useful if you're sending presigned urls or don't want to pay for storage",
                    "default": "true"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "optional custom metadata fields you'd like to use to analyze your call data (i.e. region, llm, tts model, etc.)",
                    "additionalProperties": true,
                    "example": {
                      "regionId": "MENA",
                      "ttsModel": "eleven-labs-v2"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "call uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["callId"],
                  "properties": {
                    "callId": {
                      "type": "string",
                      "description": "the id of the uploaded call"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TestParams": {
        "required": ["agentId"],
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string",
            "description": "the id of your fixa agent"
          },
          "scenarioIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "array of specific scenarios to test. leave it blank to test all scenarios"
          },
          "personaIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "array of personas that will call your agent. leave it blank to use all personas"
          }
        }
      },
      "Call": {
        "type": "object",
        "required": ["id", "result", "status"],
        "properties": {
          "id": { "type": "string", "description": "the id of the call" },
          "status": {
            "type": "string",
            "enum": ["in_progress", "analyzing", "completed"],
            "description": "the status of the call"
          },
          "result": {
            "type": "string",
            "enum": ["success", "failure"],
            "description": "the result of the call"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
