{
  "openapi": "3.0.1",
  "info": {
    "title": "pixa API",
    "description": "the text to animation API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pixa.dev"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "description": "generates an animation from a text prompt",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "hls playlist url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateParams": {
        "required": [
          "prompt"
        ],
        "type": "object",
        "properties": {
          "prompt": {
            "default": "explain riemann sums",
            "description": "The prompt to generate the video",
            "type": "string"
          },
          "theme": {
            "description": "The background color of the video",
            "type": "string",
            "enum": ["light", "dark"]
          },
          "fps": {
            "description": "The frames per second of the video",
            "type": "integer",
            "default": 30,
            "minimum": 1,
            "maximum": 60
          },
          "height": {
            "description": "The height of the video in pixels",
            "type": "integer",
            "default": 540,
            "minimum": 1,
            "maximum": 1080
          },
          "width": {
            "description": "The width of the video in pixels",
            "type": "integer",
            "default": 960,
            "minimum": 1,
            "maximum": 1920
          }
        }
      },
      "GenerateResponse": {
        "required": [
          "hls_playlist_url"
        ],
        "type": "object",
        "properties": {
          "hls_playlist_url": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}